div {

  /* Rectangle 3 */


position: absolute;
width: 200px;
height: 150px;
left: 0px;
top: 0px;

background: url(download.jpeg);

}

header{

/* Rectangle 5 */

position: absolute;
width: 1300px;
height: 150px;
left: 200px;
top: 0px;

background: #000000;
}

h1 {
  /* Colégio estadaual presidente costa e silva */


position: absolute;
width: 580 px;
height: 70px;
left: 50px;
top: 25px;

font-family: "Indie Flower";
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 58px;

color: #FFFFFF;
}

center {
  font-family: "Indie Flower";
}

.corado {
  position: absolute;
width: 469px;
height: 611px;
left: 830px;
top: 277px;

background: url(corado.jpg);
}

.nome {

position: absolute;
width: 1000px;
height: 58px;
left: 13px;
top: 286px;

font-family: 'Indie Flower';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 58px;

color: #FFFFFF;
}

.anos {
  position: absolute;
  width: 1000px;
  height: 58px;
  left: 13px;
  top: 362px;

  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 58px;

  color: #FFFFFF;

}

.serie {
  position: absolute;
width: 1000px;
height: 58px;
left: 13px;
top: 438px;

font-family: 'Indie Flower';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 58px;

color: #FFFFFF;
}

.favorita {
  position: absolute;
width: 500px;
height: 116px;
left: 13px;
top: 525px;

font-family: 'Indie Flower';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 58px;

color: #FFFFFF;

}
