div {

  /* Rectangle 3 */


position: absolute;
width: 200px;
height: 150px;
left: 0px;
top: 0px;

background: url(download.jpeg);

}

header{

/* Rectangle 5 */

position: absolute;
width: 1300px;
height: 150px;
left: 200px;
top: 0px;

background: #000000;
}

h1 {
  /* Colégio estadaual presidente costa e silva */


position: absolute;
width: 580 px;
height: 70px;
left: 50px;
top: 25px;

font-family: "Indie Flower";
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 58px;

color: #FFFFFF;
}
